body {
    font-size: 14px;
}
#main{
    background-color: #C0C0C0;
}
h1{
font-family: Verdana, sans-serif;
font-size: 20px;
}

.footer{
    font-size: 10px;
}
 .highlight {
    background-color: #ff0;
  }
