.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:before,
.row:after {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
}

.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-6,
.col-sm-8,
.col-sm-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.text-center {
    text-align: center;
}

  .col-sm-12 {
        width: 100%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
li {
    display: inline;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*Color
Orange: #fe5733
light grey: #797879
dark grey: #282828
*/
/* Navigation*/
nav {
    background-color: #282828;
    height: 100px;
    
}
 .navbar-fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }

.navbar li a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #797879;
    font-weight: 7px;
}

.navbar li a:hover {
    color: #fe5733;
}

/*Header*/
header {
    background-image: url('images/image1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
}
.intro-text {
    padding-top: 200px;
    padding-bottom: 120px;
}
.intro-heading {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
    white-space: pre;
}
/*Button*/
/*white*/
.btn-wh {
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    padding: 18px 22px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid #fff;
}
    
    /*orange*/
.btn-or {
    display: inline-block;
    color: #fe5733;
    text-transform: uppercase;
    padding: 25px 22px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid #fe5733;
}

/*black*/
.btn-bl {
    display: inline-block;
    color: #282828;
    text-transform: uppercase;
    padding: 18px 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid #282828;
}
/*Title*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

h2 {
   border-bottom: 2px solid #fe5733;
    
}
